@import "variables.scss";
@import "mixins.scss";

body {
  background-image: url('https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
}

header {
  background-image: url('https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  border-radius: 2px;
  color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

h2 {
  @include center;
  color: $dark-grey;
  font-size: 40px;
}

label {
  font-weight: $bold-level;
}

button {
  @include thin-border;
  width: 15em;
  color: $dark-grey;
  font-weight: $bold-level;
  background-color: $light-grey-background;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 2em;
}

input {
  @include thin-border;
  padding: 0;
  padding-left: 5px;
  width: 20em;
}

p {
  margin: .3em;
}

#destination {
  @include thin-border;
}

.image-container {
  align-items: center;
  position: relative;
  z-index: 5;
}

.image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  height: 117px;
  transition: .8s ease;
  width: 100%;
}

.entry-form {
  @include center;
  @include form-styling;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  height: 400px;
  margin-top: 80px;
  position: relative;
  width: 55%;
  z-index: 2;
  flex-flow: row wrap;
}

.trip-card {
  background-color: $light-grey-background;
  border: 2px solid $dark-grey;
  border-radius: 3px;
  color: $dark-grey;
  min-height: 150px;
  max-height: 295px;
  margin: 5px 11px;
  padding: 0 13px;
  width: 195px;
  min-width: 195px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.your-trips {
  color: $dark-grey;
  font-size: 31px;
  font-weight: $bold-level;
  text-shadow: 1px 1px;
}

.layout {
  font-weight: bold;
  flex-grow: 3;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.past-trips {
  @include form-styling;
  font-size: 22px;
  color: $dark-grey;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 35px;
  min-height: 150px;
  padding: 15px;
}

.present-trips {
  @include form-styling;
  font-size: 22px;
  color: $dark-grey;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 35px;
  min-height: 150px;
  padding: 15px;
}

.upcoming-trips {
  @include form-styling;
  font-size: 22px;
  color: $dark-grey;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 35px;
  min-height: 150px;
  padding: 15px;
}

.pending-trips {
  @include form-styling;
  font-size: 22px;
  color: $dark-grey;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 35px;
  min-height: 150px;
  padding: 15px;
}

.display-box {
  @include center;
  width: 100vw;
  height: 70vh;
}

.login-area {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.hidden {
  display: none;
}

.trip-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 150px;
}

.cost-of-trip {
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}

.trip-input-box {
  @include center;
  width: 100vw;
  height: 70vh;
}

.trip-entry-form {
  @include form-styling;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  height: 400px;
  margin-top: 80px;
  position: relative;
  width: 55%;
  z-index: 2;
  flex-flow: row wrap;
}

.trip-login-area {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.flex {
  display: flex;
}

.welcome {
  text-shadow: 1px 1px;
  margin-top: 53px;
}

.scroll {
  font-style: italic;
  font-weight: bolder;
  font-size: 23px;
  color: #ffb158;
}

@media only screen and (max-width: 525px) {

  input {
    width: 10em;
  }

  button {
    width: 10em;
  }

  #destination {
    width: 10em;
  }
  
  .your-trips {
    color: #e6e6e6
  }
}
